<main class="max-w-6xl mx-auto px-4">
  <div class="flex justify-center text-center">
    <h1 class="text-6xl font-bold mt-20">
      <span class="text-pink-500">Hello</span>
      <span class="text-blue-500">there</span>
    </h1>
  </div>
</main>
